* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  line-height: 1.9rem;
}

.main-container {
  padding: 20px 40px;
  display: flex;
}

.main-container > div {
  border: 1px solid #ccc;
  padding: 20px 40px;
}

.main-content {
  flex: 3;
  order: 2;
}

.left-sidebar {
  flex: 1;
  order: 1;
}

.right-sidebar {
  flex: 1;
  order: 3;
}

.gallery-container {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.gallery-container > div {
  flex-basis: 15%;
  background: #cecece;
  padding: 20px 40px;
}
